/* Global Styles */
body {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}
a{
  color: black;
}

/* Navbar Styles */
.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.95) !important;
}

/* Hero Section */
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)), url('../assests/images/homepage/heroprofile.avif') no-repeat center center;
  background-size: cover;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero h1 {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  font-weight: 300;
}

/* Search Bar */
.search-bar {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: -50px;
  position: relative;
  z-index: 2;
}


/* Destination Cards */
.destination-img {
  height: 250px;
  object-fit: cover;
  transition: transform 0.3s;
}

.card:hover .destination-img {
  transform: scale(1.05);
}

/* Footer */
footer {
  background-color: #f8f9fa;
  padding: 30px 0;
}

/* Smooth Fade-In Animations */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media Queries */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 1rem;
  }

    .submit-btn {
      font-size: 12px;
      /* Decrease font size */
      padding: 8px;
      /* Adjust padding */
    }
}